/*
    CSS RESET
*/
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*GENERAL Styles */
body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.container 
{
    max-width: 1200px;
    margin: 0 auto;
    width:90%;

}

  /*FORM*/
  .form-container
{
    max-width: 800px;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

}


form-control 
{
    margin-bottom:20px; 
}


.form-control label
{
    display:block;
    margin:20px 0;
    color: #000;
}

.form-control input[type="text"],
.form-control select,
.form-control textarea
{
    display: block;
    width:100%;
    border: 2px solid #818080;
    font-size:0.9rem;
    padding:8px ;
}   


.form-control input[type="button"],
.form-control button[type="button"]

{
    background-color: #252424;
    color:#fff;
    font-size:1rem;
    width:100%;
    display: block;
    padding:8px 5px;
    margin-top: 16px;
    border:2px solid #252424;
    border-radius: 5px;
}

.error-fields
{
    color:#f00;
    font-size: 0.8rem;
}

.show
{
    display:block;
}


/*************** MODAL***************/

